.wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;

  > div {
    border-radius: 10px;
    padding: 1ch;
    cursor: pointer;
    &:hover{
      outline: 1px solid #ccc;
      background: var(--hl);
    }
  }
}