              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#reading">
                      Reading
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#linux">
                      Linux
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#android">
                      Android
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/categories.html#web">
                      Web开发
                    </a>
                  </li>
                  <li>
                    <a href="/categories.html#other">
                      Other
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->