          <ul class="nav navbar-nav">
            <li>
              <a href="/archives.html">
                札 记
              </a>
            </li>
            <li>
              <a href="/categories.html">
                分 类
              </a>
            </li>
            <li>
              <a href="/about.html">
                关 于
              </a>
            </li>
              <li>
                  <a href="/atom.xml">
                      RSS
                  </a>
              </li>
          </ul>