.wrap {
  position: relative;
  padding: 1rem;

  > .article {

  }

  > .pager {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    >a {
      display: inline-flex;
      align-items: center;
      gap: 10px;

      > svg {
        font-size: 1.2rem;
      }
    }
  }
}