:root{
  /* css variables goes here */
  --font-size-base: 1rem;

  /* layout */
  --header-height: 56px;

  /* theme */
  --bg-light: #fff;
  --color-light: #000;

  --bg-dark: #333;
  --color-dark: #c0c399;

  /* highlight */
  --hl: rgb(192 164 243 / 50%);
}