$wid: 30ch;
$bg-color: #fff;

.nav {
  transition: all 0.5s ease;
  width: $wid;
  background: darken($bg-color, 5%);
  padding: 10px;
  overflow: auto;
  z-index: 20;
  box-shadow: 1px 1px 6px 0 rgba(241, 239, 239, 0.5);
  //height: calc(100% - var(--header-height));

  @media (max-width: 768px) {
    position: fixed;
    height: calc(100% - var(--header-height));
  }

  [data-theme="dark"] & {
    background: var(--bg-dark);
    color: var(--color-dark);
    box-shadow: 1px 1px 6px 0 rgb(20 20 20 / 50%);
  }

  &.hidden {
    transform: translateX(-($wid));
    flex-basis: 0;
    //& + div {
    //  transform: translateX(-$wid / 2);
    //}
  }

}