.wrap {
  position: relative;
  > div {
    //width: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 960px) {
      width: 100%;
    }
  }
}